@charset "UTF-8";

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divheaderimg{
    background-image: linear-gradient(#fff, #fff, #fff, #dbdbdb);
    padding: 10px;
    padding-left: 5%;
}

.divheaderh2{
    background-color: #143C60;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px 50px;
    font-size: 30px;
    
}

.divheaderh2 > p {
    font-size: 0.7em;
}

.heresWhat {
    columns: 2;
    background-image: linear-gradient(#fff);
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
      
}

.heresWhatc1 {
    
    width: 70%;
}

.heresWhatc2 {
    
    width: 30%;   
}

.heresWhatc1_div1 > p{
    font-size: 1.25em;
    padding: 5px;
}

.check {
    width: 25px;
}

.heresWhatc1_div1_h2{
    font-size: 30px;
    padding: 10px;
    color: #BE4500;
}

.heresWhatc1_div1_h2img{
    width: 70%;
    padding: 30px 0px;
    
}

.depoimento {
    border: #ddd 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    width: 90%;
    
}

.depoimento > div > div > img{
    width: 60%;
    border-radius: 50%;
    border: #BE4500 2px solid;
    text-align: center;
    justify-content: center;
    
}

.dividirimgcoluna {
    columns: 2;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    
}

.dividirimgcoluna_img {
    
    width: 40%;    
}

.dividirimgcoluna_p {
    
    width: 60%;
    text-align: left; 
    color: #BE4500;
}

.callaction {
    background-image: linear-gradient(#fff, #fff, #dbdbdb, #dbdbdb);
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;     
    flex-direction: column;
}

.heresWhatc1_div1_h20 {
    color: #BE4500;
    font-size: 1.9em;
}

.heresWhatc1_div1_h21 {
    color: #187100;
    font-size: 1.9em;
}

.botao {
    background-color: #F46700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;     
    flex-direction: column;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    width: 84%;
}

.linkbotao {
    font-size: 2.1em;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.linkurldiv{
    padding-top: 20px;
    margin-bottom: 20px;
}

.linkurl1 {
    font-size: 1.4em;
    cursor: pointer;
    color: #0066C5;
}

.questions {
    background-color: #FFFBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px 10px;
}

.questions-div{
    font-size: 30px; 
      
}

.questions-all{
    margin-top: 30px;
    width: 100%;
    columns: 2;
}

.questions-column1 {
    
    
    margin: auto;
    overflow: hidden; 
    
}


.detalhes {
    font-size: 1em;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.sumario {
    font-size: 1.1em;
    
}

.pduv {
    padding: 10px;    
    text-align: justify;
    font-size: 0.98em;
    
}




@media screen and (max-width: 768px){
    .heresWhatc2 {
        display: none;
    }
}